__pycache__
.env
env
*.DS_Store
*.pyc
migrations
*.JPG
*.jpg
.vscode
/static
/ramsay/static
/ramsay/ramsay/static
.coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
