<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <!-- BEGIN FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#c5050c">
  <link rel="shortcut icon" href="{% static 'favicons/favicon.ico'%}">
  <meta name="msapplication-TileColor" content="#c5050c">
  <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml'}">
  <meta name="theme-color" content="#ffffff">
  <!-- END FAVICONS -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css"
    integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css"
    integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
  <!-- CSS for popover shopping-->
  <!-- TODO: move style to separate file -->
  <style>
    .popover {
      max-width: 100% !important;
    }

    #cart-container {
      width: 500px;
    }

    .cart-hd-ft {
      margin-top: 0;
      margin-bottom: 0;
    }

    .cart-row {
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  </style>
  {% block style %}
  {% endblock style %}

  <title>Ledger of William Ramsay</title>
</head>
<div style="margin-bottom: 40px">
  {% block header %}
  <header>
    <div class=header-container>
      <div class=header-logo style="float:left; margin: 5px 25px 5px 25px;">
        <a href="https://wisc.edu">
          <img src='{% static "uw-crest.svg" %}' alt="crest" height=60>
        </a>
      </div>
      <div class="header-title" style="margin-top: 5px">
        <h1 style="height: 30px; margin-bottom: 15px; font-weight:bold; color: #c5050c">LEDGER OF WILLIAM RAMSAY</h1>
        <h6 style="height: 20px; font-weight: bold; color:#646569;">A Colonial Merchant, Alexandria, VA 1753-1756<h6>
      </div>
    </div>
  </header>
  {% endblock header %}

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#c5050c; font-weight: bold">
    <button class="navbar-toggler flex-row" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      Menu <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-list' %}">Shop by Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer-list' %}">Customer Profiles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Visualization
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- TODO: change href, link to proper tableau -->
            <a class="dropdown-item" href="/visual">Trade Route</a>
            <a class="dropdown-item" href="/bydept">By Department</a>
            <a class="dropdown-item" href="#">Statistics</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
    {% block navbar%}
    <ul class="navbar-nav flex-row" style="position:fixed; right:1rem; top:87px;">
      {% endblock navbar%}
      <li class="nav-item">
        <form action="{% url 'category-list' %}" method="GET" class="nav-item form-inline my-0 my-lg-0 mr-2">
          <input id="keywords" name="search" class="form-control mr-sm-2" type="search" placeholder="Search"
            aria-label="Search">
          <button id="search" class="btn btn-outline-secondary">
            <i class=" fas fa-search"></i>
          </button>
        </form>
      </li>
      <li class="nav-item">
        <button id="cart" type="button" class="nav-item btn btn-outline-secondary my-0 my-lg-0" data-toggle="popover"
          data-trigger="focus" data-placement="bottom">
          <i class="fas fa-shopping-cart"></i>
        </button>
      </li>
    </ul>
  </nav>
</div>

<body>
  {% block content%}
  {% endblock content%}
  <!-- Required JavaScript for drop down menu and responsive menu-->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- ajax require non-slim jquery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <!-- TODO: use bootstrap.min.js in static -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Script for shopping cart popover-->
  <script>
    $(' .popover-dismiss').popover({ trigger: 'focus' }); $('#cart').popover({
      html: true,
      content: '<div id=cart-container class="container"><div class="row"><div class="col"><h5>Shopping Cart</h5></div><div class="col text-right"><div class="row"><div class="col"> Quantity </div><div class="col"> Price </div></div></div></div><hr class="cart-hd-ft"><div id="cartrows"></div><hr class="cart-hd-ft">'
      ,
    }).on('shown.bs.popover', function () {
      var sum = 0; var dict = Object.keys(sessionStorage); for (var i in
        dict) {
        var prod = JSON.parse(sessionStorage.getItem(dict[i])); $("#cartrows").append('<div
            class= "row cart-row" >
          <div class="col">' + prod.t + '</div>
          <div class="col row text-right">
            <div class="col">' + prod.c + '</div>
            <div class="col">' + prod.p + '</div>
          </div>
      </div > ');
      sum += prod.p * prod.c;
      }
      $("#cart-container").append('<div class="row">
        < div class= "col" ></div >
        <div class="col text-right">Subtotal: <span class="text-danger">$' + sum.toFixed(2) + '</span></div>
      </div >
    </div > ');
    });
  </script>
  {% block script %}
  {% endblock script %}
</body>
</div>

{% block footer %}
<footer style="position:fixed; bottom:0; left:0; height:30px; margin-top: 5px; width:100%; background: #282728">
  <p class="text-center" style="color:#adadad">Feedback: <a href="mailto:asmartin@wisc.edu" style="color:#f9f9f9">
      asmartin@wisc.edu</a></p>
</footer>
{% endblock footer %}

</html>