<div id=cart-container class="container">
    <div class="row">
        <div class="col"> <h5>Shopping Cart</h5> </div>
        <div class="col text-right">
            <div class="row">
                <div class="col"> Quantity </div>
                <div class="col"> Price </div>
            </div>
        </div>
    </div>
    <hr class="cart-hd-ft">
<!------------------------------------------------------------>
    TODO: for all items in cart
    <div class="row cart-row">
        <div class="col"> Item 1 </div>
        <div class="col row text-right">
            <div class="col"> 1 </div> 
            <div class="col"> $1.00 </div>
        </div>
    </div>
    <div class="row cart-row">
            <div class="col"> Item 2 </div>
            <div class="col row text-right">
                <div class="col">
                    <!-- TODO: http://jsbin.com/ALESUXib/1/edit 
                               https://stackoverflow.com/questions/20235453/executing-js-from-inside-bootstrap-popover-content
                    -->
                        <div class="input-group number-spinner">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-dir="dwn">-</button>
                                </span>
                                <input type="text" class="form-control text-center" value="1">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-dir="up">+</button>
                                </span>
                            </div>
                </div> 
                <div class="col"> $1.00 </div>
            </div>
    </div>
    <div class="row cart-row">
            <div class="col"> Item 3 </div>
            <div class="col row text-right">
                <div class="col"> 1 </div> 
                <div class="col"> $1.00 </div>
            </div>
    </div>

<!------------------------------------------------------------>
    <hr class="cart-hd-ft">
    <div class="row">
        <div class="col"></div>
        <div class="col text-right">
        Subtotal: <span class="text-danger">$0.00</span>
        </div>
    </div>
 
</div>