{% extends "base.html" %}
{% load static %}

{% block script %}
<script>    
    // $(".open-button").on("click", function() {
    //     $(this).closest('.collapse-group').find('.collapse').collapse('show');
    // });
    
    // $(".close-button").on("click", function() {
    //     $(this).closest('.collapse-group').find('.collapse').collapse('hide');
    // });

    $(".list-group-item-action").on("click", function() {
        // $(this).siblings().removeClass('active');
        $(this).toggleClass("active");
        
    });
</script>
{% endblock script %}

{% block content%}

<div class="container">

    <div class="row collapse-group">
        <div class='col-2'>
            <div class="list-group">
                <!-- TODO -->
                <!--      1. select all/deselect all categories-->
                <!--      2. accordion on categories?/products-->
                <!--         04/03: I dont think accordion will work in this case,
                            may need to write some js to handle show/collapse-->

                {% if categories %}
                <div class="list-group list-group-root well">
                    <!-- <a href="#all" class="list-group-item list-group-item-action open-button" data-toggle="collapse">
                        View All (TODO: All Products)
                    </a> -->
                    <!-- <a href="#all" class="list-group-item list-group-item-action close-button" data-toggle="collapse">
                        Close All (TODO: Merge to button above)
                    </a> -->
                    {% for category in categories %}
                    <a href="#{{category.name_slug }}" class="list-group-item list-group-item-action active" 
                    data-toggle="collapse" data-target="#{{category.name_slug}}">
                        {{ category.name }}
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                No categories found.
                {% endif %}
                <p><a href="#" class="text-primary">TODO: Select/Deselect All</a></p>
            </div>
        </div>
        <div class='col-10'>
            <div class="d-flex flex-column col">
                {% if categories %}
                <div class="list-group well">
                    {% for category in categories %}
                    <div class="list-group collapse show" id="{{category.name_slug}}">
                        {% if category.products.count > 0 %}
                        {% for product in category.products.all %}
                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h5>{{ product.title }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                            materials: {{product.materials}}<br>
                                            dimensions: {{product.dimensions}}<br>
                                            date: {{product.date}}<br>
                                            origin: {{product.origin}}
                                    </div>
                                    <div class="col-2">
                                            Used to be: {{product.original_price}}<br>
                                            <h4>${{product.modern_dollars}}</h4>
                                            <a class="btn btn-primary" data-toggle="collapse"
                                            href="#{{ product.title_slug }}" role="button">
                                            View Details
                                            </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="collapse pt-2" id="{{ product.title_slug }}" style="width: 100%">
                                        <div class="card card-body">
                                            {% include "product_detail.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="list-group-item"> No products found. </p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p> No categories found. </p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock content%}