{% extends "base.html" %}
{% load static %}

{% block script %}
<script>
    $('.addtocart').popover().click(function () {
    setTimeout(function () {
        $('.addtocart').popover('hide');
    }, 1000);
    // TODO: storing item here
    });

    function getDetails(prodtitle){
        $("#"+prodtitle).collapse("toggle");  
        // TODO: only load on show, collapsible status check not working.
        $("#"+prodtitle).find(".card.card-body").load($("#btn-"+prodtitle).attr("href"));
    };

</script>

{% endblock script %}
{% block content%}

<div class="container">

    <div class="row collapse-group">
        <div class='col-2'>
            <div class="list-group">
                {% if categories %}
                <div class="list-group list-group-root well">
                    <!-- TODO: @Carter, active for viewall seems not working; always in else -->
                    {% if selected == 'ViewAll'%}
                    <a href="{% url 'category-list'%}" class="list-group-item list-group-item-action active">
                        View All
                    </a>
                    {% else %}
                    <a href="{% url 'category-list'%}" class="list-group-item list-group-item-action">
                        View All
                    </a>
                    {% endif %}

                    {% for category in categories %}
                    {% if selected == category.name %}
                    <a href="{% url 'category-list-single' category.name %}" class="list-group-item list-group-item-action not-all active"> 
                        {{ category.name }}
                    </a>
                    {% else %}
                    <a href="{% url 'category-list-single' category.name %}" class="list-group-item list-group-item-action not-all"> 
                        {{ category.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                No categories found.
                {% endif %}
            </div>

        </div>
        <div class='col-10'>
            <div class="d-flex flex-column col">
                <div class="list-group well" id="prodlist">
                    <div class="list-group collapse show" id="{{category.name_slug}}">
                        {% if products.count > 0 %}
                        {% for product in products %}
                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h5>{{ product.title }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                            materials: {{product.materials}}<br>
                                            dimensions: {{product.dimensions}}<br>
                                            date: {{product.date}}<br>
                                            origin: {{product.origin}}
                                    </div>
                                    <div class="col-3">
                                            Used to be: {{product.original_price}}<br>
                                            <h4>${{product.modern_dollars}}</h4>
                                            <div class="row">
                                                <a class="btn btn-primary mr-1 mt-1" id="btn-{{product.title_slug}}" data-toggle="collapse" role="button" href="{% url 'product-detail' selected product.title_slug %}" onclick="getDetails('{{product.title_slug}}')">
                                                    <i class="fas fa-chevron-down"></i>
                                                    View Details
                                                </a>
                                                <a class="btn btn-primary mt-1 addtocart" id="addtocart" data-toggle="popover" data-placement="right" data-content='Added to Cart' href="#">
                                                    <i class="fas fa-cart-plus"></i> Add to Cart</a>
                                            </div>
                                            
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="collapse pt-2" id="{{ product.title_slug }}" style="width: 100%">
                                        <div class="card card-body">
                                                <div class="spinner-border" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="list-group-item"> No products found. </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content%}