{% extends "base.html" %}
{% load static %}

{% block script %}
<script>
    $(".list-group-item-action.not-all").on("click", function() {
        if(!$(this).hasClass("active")){
            // prodlist
            var pdlst = $(this).parentsUntil(".container").siblings(".col-10").find("#prodlist");
            // remove collapse all categories from prodlist
            console.log(pdlst.find(".list-group.collapse.show").removeClass("show"));
            // remove active from .list-group-item-action.action
            $(this).siblings(".active").removeClass("active");
            // show $(this) in prodlist
            pdlst.find($(this).attr('href')).collapse("show");
            // active $(this)
            $(this).toggleClass("active");
        }  
    });
    
    $(".list-group-item-action").on("click", function(){
        if($(this).hasClass("active")){}
    });

</script>
{% endblock script %}

{% block content%}

<div class="container">

    <div class="row collapse-group">
        <div class='col-2'>
            <div class="list-group">
                <!-- TODO: find more elegant way of sorting by categories, current JS collapse way isn't 100% correct when you click quick enough.-->

                {% if categories %}
                <div class="list-group list-group-root well">
                    <a href="{% url 'category-list' %}" class="list-group-item list-group-item-action active">
                        View All
                    </a>
                    {% for category in categories %}
                    <a href="#{{ category.name_slug }}" class="list-group-item list-group-item-action not-all"> <!---->
                    <!-- data-toggle="collapse" data-target="#{{category.name_slug}}"> -->
                        {{ category.name }}
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                No categories found.
                {% endif %}
            </div>

        </div>
        <div class='col-10'>
            <div class="d-flex flex-column col">
                {% if categories %}
                <div class="list-group well" id="prodlist">
                    {% for category in categories %}
                    <div class="list-group collapse show" id="{{category.name_slug}}">
                        {% if category.products.count > 0 %}
                        {% for product in category.products.all %}
                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <h5>{{ product.title }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                            materials: {{product.materials}}<br>
                                            dimensions: {{product.dimensions}}<br>
                                            date: {{product.date}}<br>
                                            origin: {{product.origin}}
                                    </div>
                                    <div class="col-2">
                                            Used to be: {{product.original_price}}<br>
                                            <h4>${{product.modern_dollars}}</h4>
                                            <a class="btn btn-primary" data-toggle="collapse"
                                            href="#{{ product.title_slug }}" role="button">
                                            View Details
                                            </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="collapse pt-2" id="{{ product.title_slug }}" style="width: 100%">
                                        <div class="card card-body">
                                            {% include "product_detail.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p class="list-group-item"> No products found. </p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p> No categories found. </p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock content%}