<div id=cart-container class="container">
    <div class="row">
        <div class="col">
            <h5>Shopping Cart</h5>
        </div>
        <div class="col text-right">
            <div class="row">
                <div class="col"> Quantity </div>
                <div class="col"> Price </div>
            </div>
        </div>
    </div>
    <hr class="cart-hd-ft">
    <!------------------------------------------------------------>
    <a href="https://stackoverflow.com/questions/44579887/placing-javascript-content-in-bootstrap-popover"> TODO: for all items in cart</a>
    <div id="carttest"> sample cart: <br></div>
    <div class="row cart-row">
        <div class="col"> Item 1 </div>
        <div class="col row text-right">
            <div class="col"> 1 </div>
            <div class="col"> $1.00 </div>
        </div>
    </div>
    <div class="row cart-row">
        <div class="col"> Item 2 </div>
        <div class="col row text-right">
            <div class="col"> 1 </div>
            <div class="col"> $1.00 </div>
        </div>
    </div>
    <div class="row cart-row">
        <div class="col"> Item 3 </div>
        <div class="col row text-right">
            <div class="col"> 1 </div>
            <div class="col"> $1.00 </div>
        </div>
    </div>

    <!------------------------------------------------------------>
    <hr class="cart-hd-ft">
    <div class="row">
        <div class="col"></div>
        <div class="col text-right">
            Subtotal: <span class="text-danger">$0.00</span>
        </div>
    </div>
</div>