<div class="thumbnail-container">
    <ul class="thumbnail-list">
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
        <li><span><img class="thumbnail-image" src="http://placehold.it/300x300"></span></li>
    </ul>
</div>