option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ramsay/ramsay/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ramsay.settings.prod
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "ramsay/static/"
container_commands:
  migrate:
    command: "source /opt/python/run/venv/bin/activate && python ramsay/manage.py migrate --settings=ramsay.settings.prod"
    leader_only: true
  collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python ramsay/manage.py collectstatic --settings=ramsay.settings.prod"

