option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ramsay/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ramsay.settings.prod
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
container_commands:
  migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --settings=ramsay.settings.prod --noinput"
    leader_only: true
  collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --settings=ramsay.settings.prod --noinput"

